/* replace font on all editors */

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --csbackground: #2E3440;
    --cscurrentline: #988BA2;
    --csselection: #4C566A;
    --csforeground: #ECEFF4;
    --cscomment: #D8DEE9;
    --csred: #BF616A;
    --csorange: #D08770;
    --csyellow: #EBCB8B;
    --csgreen: #A3BE8C;
    --csaqua: #88C0D0;
    --csblue: #81A1C1;
    --cspurple: #B48EAD;
}

.codemirror-preview span, .CodeMirror-code span, .console-output textarea {
    font-family: 'Rec Mono Duotone', 'Mononoki Nerd Font Mono', 'Fira Code', 'M PLUS Code Latin', 'JetBrains Mono', 'Cascadia Code', 'Hasklig', 'Victor Mono Medium', 'Envy Code R for Powerline', 'Fira Code', 'Noto Mono', 'JuliaMono', 'JetBrains Mono', 'Droid Sans Mono', 'Consolas', 'Courier New', monospace !important;
    font-size: 12px;
    cursor: text;
    font-weight: 200;
}

.DataViewTable *, .ansiout {
    font-family: 'Rec Mono Duotone', 'Mononoki Nerd Font Mono', 'Fira Code', 'M PLUS Code Latin', 'JetBrains Mono', 'Cascadia Code', 'Hasklig', 'Victor Mono Medium', 'Envy Code R for Powerline', 'Fira Code', 'JuliaMono', 'JetBrains Mono', 'Droid Sans Mono', 'Consolas', 'Courier New', monospace, FontAwesome !important;
    font-size: 11.5px;
    font-weight: 200;
}

.cm-s-eclipse-focus .CodeMirror-matchingbracket {
    /* color: #d1158c !important; */
    color: var(--csred) !important;
    /* font-size: 2000; */
}

.markdown * {
    font-family: 'Jost', 'Alegreya Sans', "Radio Canada", "Inria Sans";
}

* {
    font-family: 'Jost', 'Alegreya Sans', "Radio Canada", "Inria Sans", FontAwesome;
}

.js-plotly-plot * {
    font-family: 'Jost', 'Alegreya Sans', "Radio Canada", "Inria Sans" !important;
}

.cm-keyword {
    color: var(--cspurple) !important;
}

.cm-property {
    color: var(--csblue) !important;
}

.cm-string {
    color: var(--csgreen) !important;
}

.cm-builtin {
    color: var(--csaqua) !important;
}

.cm-number {
    color: var(--csorange) !important;
}

.cm-comment {
    color: var(--cscomment) !important;
    font-style: italic;
}

.cm-atom {
    color: var(--csblue) !important;
}

.cm-variable {
    color: var(--csforeground)!important;
}

.cm-variable-2 {
    color: var(--csblue)!important;
}

.cm-type {
    color: var(--csaqua) !important;
}

.cm-meta {
  color: var(--csyellow) !important;
}

.CodeMirror-lines {
    color: var(--csforeground)!important;
}

.cm-operator {
    color: var(--cspurple)!important;
}

.cm-bracket.CodeMirror-matchingbracket {
    color: var(--csaqua)!important;
}

.cm-def {
    color: var(--csblue)!important;
}

.cm-bracket {
    color: var(--csaqua)!important;
}

.CodeMirror-cursor {
    border-left: 1px solid var(--csaqua)!important;
}

.new-notebook.command.mainCommand .command-text {
    background-color: var(--csbackground) !important;
}

.field-name {
    color: var(--cspurple)!important;
}

.command-buttons {
    color: var(--csgreen)!important;
}

.command .dashboard-button {
    color: var(--csorange) !important;
}

.command .download-button {
    color: var(--csblue) !important;
}

.command .remove-button {
    color: var(--csred) !important;
}

.command .run-command-button {
    color: var(--csgreen) !important;
}

.command .toggle-collapse-button {
    color: var(--csaqua) !important;
}

.command .edit-button {
    color: var(--csyellow) !important;
}

body {
    --notebook-cell-active-border-color: #3B4252 !important;
    /*--menu-selected-background-color: #5c7a91 !important;*/
    --notebook-cell-unselected-border-color: rgba(0, 0, 0, 0) !important;
    --notebook-cell-hover-border-color: rgba(0, 0, 0, 0) !important;
}

.CodeMirror-focused .CodeMirror-lines {
    background-color: var(--csbackground) !important;
}